.navigation {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: @red;
    color: @white;

    @media (max-width: @l) {
        height: 56px;
    }
}

.icon {
    height: 24px;
    width: 24px;
    fill: @white;
    display: none;
    padding: @large;
    box-sizing: content-box;

    @media (max-width: @l) {
        display: block;
    }
}

.items {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    height: 100%;

    @media (max-width: @l) {
        width: 100%;
        height: auto;
        background-color: @red;
        flex-direction: column;
        position: absolute;
        left: -100%;
        transition: left 0.3s ease-in-out;

        &.responsiveVisible {
            left: 0;
        }
    }
}

.item {
    cursor: pointer;
    padding: 26px 8px 13px 13px;
    height: 100%;
    color: @white;
    transition: background-color 0.3s ease;

    &:hover, &.active {
        background-color: @black;
    }

    @media (max-width: @l) {
        display: block;
        padding: @medium;
        border-top: 1px @white solid;
    }
}
